.CarouselImage1{
    background-image: url("Img/Carousel-1.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    align-content: center;
}

.CarouselImage2{
    background-image: url("Img/Carousel-2.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    align-content: center;
}

.carousel,
.carousel-item,
.carousel-inner {
    height: 700px !important;
    width: 100% !important;
    background-repeat: no-repeat;
    align-content: center;
}
